In [124]:
import pandas as pd
import os
cwd = os.getcwd()

In [125]:
df = pd.read_csv(cwd + '/KaggleV2-May-2016.csv')
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [127]:
df.describe()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

In [128]:
# Check for any duplicates (across all columns) in the dataframe

sum(df.duplicated(subset="PatientId"))

48228

## Data Cleaning

In [129]:
# rename columns
df.rename(columns={'Hipertension':'Hypertension',
                   'Handcap':'Handicap'}, inplace=True)

In [130]:
# Change all columns to lowercase so it will be easier to edit
df.rename(columns= lambda x : x.lower(), inplace=True)

In [131]:
# Drop patient and appointment id columns
df.drop(columns=['patientid', 'appointmentid'], inplace=True)

In [132]:
# Converting time related columns into datetime format
import datetime

df['scheduledday'] = pd.to_datetime(df['scheduledday'])
df['appointmentday'] = pd.to_datetime(df['appointmentday'], format='%Y-%m-%d')

In [133]:
df['appointmentday'].head()

0   2016-04-29 00:00:00+00:00
1   2016-04-29 00:00:00+00:00
2   2016-04-29 00:00:00+00:00
3   2016-04-29 00:00:00+00:00
4   2016-04-29 00:00:00+00:00
Name: appointmentday, dtype: datetime64[ns, UTC]

#### Grouping

In [134]:
df.groupby(by='neighbourhood').sum(numeric_only=True)

,age,scholarship,hypertension,diabetes,alcoholism,handicap,sms_received
neighbourhood,,,,,,,
AEROPORTO,425,0,2,0,0,0,1
ANDORINHAS,81672,323,586,299,52,91,567
ANTÔNIO HONÓRIO,9985,14,5,3,0,1,93
ARIOVALDO FAVALESSA,9263,52,37,19,14,11,57
BARRO VERMELHO,19052,0,57,23,2,6,143
...,...,...,...,...,...,...,...
SÃO JOSÉ,66454,180,513,238,82,79,669
SÃO PEDRO,88223,321,670,249,150,97,696
TABUAZEIRO,109512,537,712,240,57,85,959
UNIVERSITÁRIO,6390,5,41,17,2,3,55
VILA RUBIM,37796,75,233,90,17,42,319

#### Converting data into binary for predictions

In [135]:
df_binary = df.copy()

df_binary['gender'] = df_binary['gender'].map({'F':1, 'M':0})
df_binary['no-show'] = df_binary['no-show'].map({'Yes':1, 'No':0})

In [136]:
# Calculate length of time between appointment day and scheduled day
df_binary['wait_time'] = df_binary['appointmentday'] - df_binary['scheduledday']

In [137]:
# Convert 'neighbourhood' categorical variables into binary variables
df_binary = pd.get_dummies(df_binary, columns=['neighbourhood'])

In [140]:
df_binary.columns

Index(['gender', 'scheduledday', 'appointmentday', 'age', 'scholarship',
       'hypertension', 'diabetes', 'alcoholism', 'handicap', 'sms_received',
       'no-show', 'wait_time', 'neighbourhood_AEROPORTO',
       'neighbourhood_ANDORINHAS', 'neighbourhood_ANTÔNIO HONÓRIO',
       'neighbourhood_ARIOVALDO FAVALESSA', 'neighbourhood_BARRO VERMELHO',
       'neighbourhood_BELA VISTA', 'neighbourhood_BENTO FERREIRA',
       'neighbourhood_BOA VISTA', 'neighbourhood_BONFIM',
       'neighbourhood_CARATOÍRA', 'neighbourhood_CENTRO',
       'neighbourhood_COMDUSA', 'neighbourhood_CONQUISTA',
       'neighbourhood_CONSOLAÇÃO', 'neighbourhood_CRUZAMENTO',
       'neighbourhood_DA PENHA', 'neighbourhood_DE LOURDES',
       'neighbourhood_DO CABRAL', 'neighbourhood_DO MOSCOSO',
       'neighbourhood_DO QUADRO', 'neighbourhood_ENSEADA DO SUÁ',
       'neighbourhood_ESTRELINHA', 'neighbourhood_FONTE GRANDE',
       'neighbourhood_FORTE SÃO JOÃO', 'neighbourhood_FRADINHOS',
       'neighbourhood_GOIABEIRAS', 'neighbourhood_GRANDE VITÓRIA',
       'neighbourhood_GURIGICA', 'neighbourhood_HORTO',
       'neighbourhood_ILHA DAS CAIEIRAS', 'neighbourhood_ILHA DE SANTA MARIA',
       'neighbourhood_ILHA DO BOI', 'neighbourhood_ILHA DO FRADE',
       'neighbourhood_ILHA DO PRÍNCIPE',
       'neighbourhood_ILHAS OCEÂNICAS DE TRINDADE', 'neighbourhood_INHANGUETÁ',
       'neighbourhood_ITARARÉ', 'neighbourhood_JABOUR',
       'neighbourhood_JARDIM CAMBURI', 'neighbourhood_JARDIM DA PENHA',
       'neighbourhood_JESUS DE NAZARETH', 'neighbourhood_JOANA D´ARC',
       'neighbourhood_JUCUTUQUARA', 'neighbourhood_MARIA ORTIZ',
       'neighbourhood_MARUÍPE', 'neighbourhood_MATA DA PRAIA',
       'neighbourhood_MONTE BELO', 'neighbourhood_MORADA DE CAMBURI',
       'neighbourhood_MÁRIO CYPRESTE', 'neighbourhood_NAZARETH',
       'neighbourhood_NOVA PALESTINA', 'neighbourhood_PARQUE INDUSTRIAL',
       'neighbourhood_PARQUE MOSCOSO', 'neighbourhood_PIEDADE',
       'neighbourhood_PONTAL DE CAMBURI', 'neighbourhood_PRAIA DO CANTO',
       'neighbourhood_PRAIA DO SUÁ', 'neighbourhood_REDENÇÃO',
       'neighbourhood_REPÚBLICA', 'neighbourhood_RESISTÊNCIA',
       'neighbourhood_ROMÃO', 'neighbourhood_SANTA CECÍLIA',
       'neighbourhood_SANTA CLARA', 'neighbourhood_SANTA HELENA',
       'neighbourhood_SANTA LUÍZA', 'neighbourhood_SANTA LÚCIA',
       'neighbourhood_SANTA MARTHA', 'neighbourhood_SANTA TEREZA',
       'neighbourhood_SANTO ANDRÉ', 'neighbourhood_SANTO ANTÔNIO',
       'neighbourhood_SANTOS DUMONT', 'neighbourhood_SANTOS REIS',
       'neighbourhood_SEGURANÇA DO LAR', 'neighbourhood_SOLON BORGES',
       'neighbourhood_SÃO BENEDITO', 'neighbourhood_SÃO CRISTÓVÃO',
       'neighbourhood_SÃO JOSÉ', 'neighbourhood_SÃO PEDRO',
       'neighbourhood_TABUAZEIRO', 'neighbourhood_UNIVERSITÁRIO',
       'neighbourhood_VILA RUBIM'],
      dtype='object')

In [ ]:
# Adding training variables to the model
training_vars = ['gender', 'age', 'scholarship',
       'hypertension', 'diabetes', 'alcoholism', 'handicap', 'sms_received',
       , 'wait_time']

In [ ]:
'no-show'

#### Visualizations

In [138]:
'''# Load visualization libraries
import seaborn as sns
import matplotlib as plt
import matplotlib.pyplot as plt


# Set the width and height of the figure
plt.figure(figsize=(15,5))

chart = ['scholarship','hypertension','diabetes','alcoholism','handicap']

sns.barplot(data=df[chart])
plt.title('Average of selected columns')'''

"# Load visualization libraries\nimport seaborn as sns\nimport matplotlib as plt\nimport matplotlib.pyplot as plt\n\n\n# Set the width and height of the figure\nplt.figure(figsize=(15,5))\n\nchart = ['scholarship','hypertension','diabetes','alcoholism','handicap']\n\nsns.barplot(data=df[chart])\nplt.title('Average of selected columns')"